<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/AlexiDgLogo_Backgroundless.png" type="image/x-icon">
</head>
<body>
    <h1>Eliminar usuario</h1>
    <div class="form-container">
        <form action="/api/users2/del/<%= user[0].id %>" method="POST">
            <h2>¿Desea eliminar el usuario <strong><%= user[0].name %></strong>?</h2>
            <p><strong>Nombre:</strong> <%= user[0].name %></p>
            <p><strong>Edad:</strong> <%= user[0].age %></p>
            <p><strong>Email:</strong> <%= user[0].email %></p>
            <div class="btn-container">
                <button class="cancel"><a href="/api/users2/all">Cancelar</a></button>
                <input type="submit" value="Eliminar" class="delete">
            </div>
        </form>
    </div>
</body>
<script src="/js/script.js"></script>
</html>