<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/AlexiDgLogo_Backgroundless.png" type="image/x-icon">
</head>
<body>
    <h1>Users</h1>

    <% if (type) { %>
        <p class="<%= type %>"><%= message %></p>
    <% } %>

    <button class="btn-create">
        <a href="/api/users2/create">Crear Usuario</a>
    </button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.age %></td>
                    <td><%= user.email %></td>
                    <td class="btn-update" id="btn-update"><a href="/api/users2/update/<%= user.id %>">Modificar</a></td>
                    <td class="btn-delete" id="btn-delete"><a href="/api/users2/delete/<%= user.id %>">Eliminar</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
<script src="/js/script.js"></script>
</html>
